  <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Photo Album</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
        <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="bower_components/octicons/octicons.css" media="screen" title="no title" charset="utf-8">

        <script type="text/template" id="grabNavBar">
          <div>
            <a href='#'>
              <h5><%= albumTitle %></h5>
            </a>
        </div>
      </script>


        <script type="text/template" id="grabLater">
        <ul>
          <li>
            <a href='#'>
              <img rel='<%= albumTitle %>' src='<%= albumCover %>'
            </a>
            <h3><%= albumTitle %></h3>
          </li>
        </ul>
        </script>

        <script type="text/template" id="grabLaterEr">
        <ul>
          <li>
            <a href='#'>
              <img rel= '<%= photoName %>' src= '<%= photoUrl %>' />
            </a>
            <h3><%= photoName %></h3>
          </li>
        </ul>
        </script>


      </head>
      <body>
   <header>


     </ul>
   </header>
<!-- My Albums Title -->
   <div class="title">

     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <h1> My Albums</h1>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
     <span class="octicon octicon-heart"></span>
   </div>

   <div class="navBar">
   </div>
<!-- Main Content container -->
   <div class="container">



<!-- container of photos -->


   </div>
   <div class= "photoBox">
     <!-- ASIDE -->
          <aside class="sideBar">
          </aside>

   </div>


  <script src="bower_components/underscore/underscore.js" charset="utf-8"></script>
  <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
  <script src="images.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>
</body>
</html>
